/*
--TABLE OF CONTENTS--

#1 - NAVBAR
#2 - MAIN SECTION
#3 - USER
#4 - SALES
#5 - SIDE NAV
*/


/* #1 - NAVBAR */
a.navbar-brand {
    font-size: 1.75rem;
}
a.navbar-brand img {
    width: 50px;
    margin-right: 10px;
}
div.collapse.navbar-collapse {
    justify-content: flex-end;
}
div.navbar-nav a i {
    padding-right: 10px;
}
.dropdown-menu {
    top: 100%;
    left: initial;
    right:0;
    margin: .1rem 2rem 0 0;
}
div.dropdown-menu.bg-dark.show {
    border: none;
    padding: 0 3rem;
}
.dropdown-item {
    color: rgba(255,255,255,.5);
}
.dropdown-item:hover,
.dropdown-item:active {
    color: rgba(255,255,255,.75);
    background-color: transparent;
}
@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    }
}

/* #2 - MAIN SECTION */
body {
    background-color: black;
    position: relative;
    min-height: 90vh;
    color: #fff;
}
.element {
    width: 100%;
    background-color: #343a40;
    border-radius: 15px;
    padding: 65px 20px;
    margin: 20px 0;
}
.main {
    margin-left: 32px;
    margin-right: 0;
    transition: all 0.5s ease-in-out;
}

/* #3 - USER */
.user{
    text-align: center;
    display: inline-block;
}
.user img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0 40%;
}
.user h4 {
    margin: 20px 0;
}
.user h6 {
    margin: 20px 0 0 0;
}

/* #4 - SALES */
.sales {
    display: inline-block;
    position: relative;
}
#time {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 170px;
    font-size: 0.8rem;
}
#span1 {
    font-size: 0.8rem;
    margin-left: 20px;
    color: #ff6161;
}
.targetBar {
    margin-top: 25px;
    width: 100%;
    height: 25px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: royalblue;
    position: relative;
    box-sizing: content-box;
}
#salesBar {
    width: 0;
    height: 25px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: mediumspringgreen;
    position: absolute;
}
#indicator {
    text-align: center;
    position: absolute;
    top: 25px;
    left: 0px;
}

/* #5 - SIDE NAV */
.side-nav {
    position: absolute;
    height: 100%;
    width: 32px;
    transition: width 0.5s ease-in-out;
}
.side-nav-expanded {
    width: 15%;
}
.main-side-nav-expanded{
    margin-left: 15%;
}
#side-nav-btn {
    border-radius: initial;
    top: 0;
    right: 0;
    position: absolute;
}
#side-nav-btn:focus {
    box-shadow: none;
}
